body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;     
}
h1 {
    font-weight: bold;
  }
  p {
    font-size: 1.5rem;
    color: white;
  }
  header {
    background-color: #ffffff;
    background-image: url("https://98bishopmal.github.io/Woodeys/images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 100px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 15px;
  }

    .contact-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007BFF; /* Blue color */
      color: white;
      text-decoration: none;
      border-radius: 5px; /* Rounded corners */
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }

    .contact-button:hover {
      background-color: #0056b3; /* Darker blue on hover */
    }

  .contact-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }

  main {
    padding: 20px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .gallery figure {
    width: calc(33.333% - 20px);
  }
  
  .gallery img {
    width: 100%;
    border-radius: 8px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    color: white;
  }
  